__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
*.egg
*.log
*.sqlite3
.Python
*.pyproj
.pytest_cache/
.cache/
.vscode/
.DS_Store

.venv/
venv/
ENV/
env/

*.swp
*.swo
*.idea/

.env

**/docker-images/
docker-compose.override.yml

models/
*.bin
*.gguf
*.bin.*
*.ggml
*.pt

node_modules/
dist/
build/

*.tmp
*.bak
Thumbs.db
